{% load static %}
<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Systemüberwachung</title>
    <link rel="stylesheet" href="{% static 'website/styles/style.css' %}"><!--später surch Django Template ersetzen-->
    <style media="screen">
      @font-face {
          font-family: "Ubuntu";
          font-weight: normal;
          src: url({% static 'website/fonts/Ubuntu-L.ttf' %});}
      @font-face {
          font-family: "Ubuntu";
          font-weight: bold;
          src: url({% static 'website/fonts/Ubuntu-B.ttf' %});}
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu">
          <li class="menupunkt"><a href="#"><img src="{% static 'website/images/Logo.svg' %}" alt="" id="logo"></a></li> <!--später surch Django Template ersetzen-->
          <li class="menupunkt"><a href="#">Kamera</a></li>
          <li class="menupunkt"><a href="#">Download</a></li>
          <li class="menupunkt"><a href="#">Systemüberwachung</a></li>
          <li class="menupunkt"><a href="#">Hilfe</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="toolbar">
        <h1 class="toolbarHeadline">Systemüberwachung</h1>
        <ul>
          <li>Überblick</li>
          <li>
            <form method="get" action="#">
              <input type="submit" name="Next" value="Next">
            </form>
          </li>
          <li>Systeminformationen</li>
        </ul>
      </div>
    </main>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
