body{
  padding: 0;
  margin: 0;
  font-family: Ubuntu;
  overflow: hidden;
}
h1 {
  margin: 0;
  padding: 0;
}
nav {
  background:linear-gradient(-175deg, #2dc2e3 1%, #005dba 40%)
}
.menu{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 5rem;
}
.menupunkt {
  flex: 3;
  align-self: center;
}
.menupunkt a {
  flex-direction: row;
  width: 20rem;
  color: white;
  text-decoration: none;
  padding: 1.9em 4em 1.9em 4em;
}
.menupunkt a:hover {
  text-decoration: underline;
}
#logo {
  height: 3rem;
  padding-left: 2rem;
}
main {

}
.toolbar {
  width: 25%;
  margin-top: -2px;
  height: 39rem;
  padding-left: 20px;
  border-width: 2px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0.1))0 1 0 0;
}
.toolbarHeadline {
  font-size: 1.8rem;
  padding: 1rem 0 0 0;
}
.toolbar li {
  list-style: none;
}

footer {
  margin: 0;
  padding: 0;
}
