body{
  padding: 0;
  margin: 0;
  font-family: Ubuntu;
}
nav {
  background:linear-gradient(-175deg, #2dc2e3 1%, #005dba 40%)
}
.menu{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 5rem;
}
.menupunkt {
  flex: 3;
  align-self: center;
}
.menupunkt a {
  flex-direction: row;
  width: 20rem;
  color: white;
  text-decoration: none;
  padding: 1.9em 4em 1.9em 4em;
}
.menupunkt a:hover {
  text-decoration: underline;
}
#logo {
  height: 3rem;
  padding-left: 2rem;
}
main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20vh;
}
